body{
    background-color: rgb(247, 3, 3);
    background-image:url("./bg\ 3.jpg");
    background-size: 99%;
    
    
}
li{
    color: aliceblue;
}
marquee{
    color: aliceblue;
}


